.jumbotron{
  background-color: rgb(229, 213, 207);
}


.card{
  border-radius: 2em;
  margin: 5px;
  background-color: rgb(229, 213, 207);

}

.card-body{
  border-radius: 2em;
  background-color: rgb(229, 213, 207);
}

body{
  background-color: rgb(228, 204, 196);
}

.image {
  float: left;
  width: 60%;
  padding: 0px;
  border: 10px solid rgb(136, 121, 116);
  margin-right: 30px;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-primary {
border: 2px solid rgb(136, 121, 116);
border-radius: .5em;
background-color: rgb(55, 49, 46);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}


.submit {
  clear: both;
}

#HighScore, #MediumScore, #LowScore {
  display: none;
}

.highlight{
  background-color: rgb(220, 116, 78);
  padding: 5px
}